@model LoginViewModel
@{
    ViewBag.Title = "Login";
}
@section scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="well">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="UserName">User Name</label>
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password">Password</label>
                    <input asp-for="Password" type="password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="RememberMe" type="checkbox" class="checkbox-inline" />
                    <label asp-for="RememberMe">Remember Me</label>
                    <span asp-validation-for="RememberMe"></span>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-success" value="Login" />
                </div>
            </form>
        </div>
    </div>
</div>