@page
<!DOCTYPE html>
<html>

<head>
    <link href="~/css/site.css" rel="stylesheet" />
</head>

<body>

    <h1>Error has occured</h1>
    <br>
    <a asp-controller="App" asp-action="Index">Home</a>

</body>

</html>